ServerConfigRest_098_Nashrul/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceRest_098_Nashrul" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceRest_098_Nashrul" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMahasiswa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mahasiswa" nillable="true" type="tns:Mahasiswa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMahasiswa" nillable="true" type="tns:ArrayOfMahasiswa" />
  <xs:complexType name="Mahasiswa">
    <xs:sequence>
      <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prodi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="angkatan" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mahasiswa" nillable="true" type="tns:Mahasiswa" />
</xs:schema>