ServerConfigRest_098_Nashrul/Connected Services/ServiceReference1/TI_UMY.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TI_UMY" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceRest_098_Nashrul/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceRest_098_Nashrul/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceRest_098_Nashrul/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceRest_098_Nashrul" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITI_UMY_GetAllMahasiswa_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMahasiswa" />
  </wsdl:message>
  <wsdl:message name="ITI_UMY_GetAllMahasiswa_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMahasiswaResponse" />
  </wsdl:message>
  <wsdl:message name="ITI_UMY_GetMahasiswaByNIM_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMahasiswaByNIM" />
  </wsdl:message>
  <wsdl:message name="ITI_UMY_GetMahasiswaByNIM_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMahasiswaByNIMResponse" />
  </wsdl:message>
  <wsdl:message name="ITI_UMY_CreateMahasiswa_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMahasiswa" />
  </wsdl:message>
  <wsdl:message name="ITI_UMY_CreateMahasiswa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMahasiswaResponse" />
  </wsdl:message>
  <wsdl:portType name="ITI_UMY">
    <wsdl:operation name="GetAllMahasiswa">
      <wsdl:input wsaw:Action="http://tempuri.org/ITI_UMY/GetAllMahasiswa" message="tns:ITI_UMY_GetAllMahasiswa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITI_UMY/GetAllMahasiswaResponse" message="tns:ITI_UMY_GetAllMahasiswa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMahasiswaByNIM">
      <wsdl:input wsaw:Action="http://tempuri.org/ITI_UMY/GetMahasiswaByNIM" message="tns:ITI_UMY_GetMahasiswaByNIM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITI_UMY/GetMahasiswaByNIMResponse" message="tns:ITI_UMY_GetMahasiswaByNIM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMahasiswa">
      <wsdl:input wsaw:Action="http://tempuri.org/ITI_UMY/CreateMahasiswa" message="tns:ITI_UMY_CreateMahasiswa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITI_UMY/CreateMahasiswaResponse" message="tns:ITI_UMY_CreateMahasiswa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITI_UMY" type="tns:ITI_UMY">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMahasiswa">
      <soap:operation soapAction="http://tempuri.org/ITI_UMY/GetAllMahasiswa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMahasiswaByNIM">
      <soap:operation soapAction="http://tempuri.org/ITI_UMY/GetMahasiswaByNIM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMahasiswa">
      <soap:operation soapAction="http://tempuri.org/ITI_UMY/CreateMahasiswa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TI_UMY">
    <wsdl:port name="BasicHttpBinding_ITI_UMY" binding="tns:BasicHttpBinding_ITI_UMY">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceRest_098_Nashrul/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>